name: Build Play! Android

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  android_build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install required packages
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip cmake build-essential pkg-config

    - name: Download project zip from Google Drive
      run: |
        wget -O Play_Android.zip "https://drive.usercontent.google.com/download?id=1gwN85bEWjuXiovBd5rlZiKypJPPv4gF0&export=download&confirm=t&uuid=c67e84c8-628a-4f36-ac74-95a935b9e671"

    - name: Unzip project
      run: unzip Play_Android.zip -d PlayProject

    - name: Create build folder
      run: |
        cd PlayProject/Play-
        mkdir -p build

    - name: Configure CMake for Android
      run: |
        cd PlayProject/Play-/build
        cmake .. \
          -DCMAKE_BUILD_TYPE=Release \
          -DTARGET_PLATFORM_ANDROID=ON

    - name: Build project
      run: |
        cd PlayProject/Play-/build
        make -j$(nproc)

    - name: Upload build output
      uses: actions/upload-artifact@v4
      with:
        name: Play-Android-Build
        path: PlayProject/Play-/build/
