name: Android NDK Build

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y unzip wget

    - name: Download Project Zip from Google Drive
      run: |
        mkdir -p ~/play_temp
        cd ~/play_temp
        wget -O play-.zip "https://drive.usercontent.google.com/download?id=1_hXUqlAT0fd07t6iq8H3H1bUtyxD5aO7&export=download&confirm=t&uuid=30278f74-0e2c-4d20-8d5e-f8fa0a078209"

    - name: Unzip Project
      run: |
        cd ~/play_temp
        unzip -q play-.zip
        ls -R  # للتأكد من فك الضغط

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Android SDK + NDK
      uses: android-actions/setup-android@v3
      with:
        api-level: 30
        ndk-version: 25.2.9519653
        cmake-version: 3.22.1

    - name: Build for Android
      run: |
        cd ~/play_temp/Play-   # لاحظ حرف P كبير
        mkdir -p build
        cd build
        cmake .. \
          -DCMAKE_BUILD_TYPE=Release \
          -DTARGET_PLATFORM_ANDROID=ON \
          -DUSE_GLEW=OFF \
          -DBUILD_PLAY=ON
        make -j$(nproc)

    - name: Upload Build Output
      uses: actions/upload-artifact@v4
      with:
        name: Play-ES3-Build
        path: ~/play_temp/Play-/build/*
