name: Android Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout (empty)
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake unzip wget ninja-build

    - name: Download project from Google Drive
      run: |
        wget -O project.zip "https://drive.usercontent.google.com/download?id=1jD7RGC1BLUT1Pm8Z_GatBnx9PsyimUTk&export=download&confirm=t"

    - name: Unzip project
      run: |
        unzip project.zip
        ls

    - name: Build Android
      run: |
        cd Play-
        mkdir -p build
        cd build

        cmake .. \
          -DCMAKE_BUILD_TYPE=Release \
          -DTARGET_PLATFORM_ANDROID=ON \
          -DBUILD_PLAY=ON \
          -DBUILD_TESTS=OFF \
          -DBUILD_LIBRETRO_CORE=OFF \
          -DBUILD_PSFPLAYER=OFF \
          -DUSE_GLEW=OFF \
          -DUSE_OPENAL=OFF \
          -DUSE_LIBEVDEV=OFF

        make -j$(nproc)
