name: Build Play! Android GLES3

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download Play! zip from Google Drive
      run: |
        wget -O play-.zip "https://drive.usercontent.google.com/download?id=1VaFlvOCWSDwevuQaOOm0CpJfDFfgTN9U&export=download&authuser=0&confirm=t&uuid=ea8272c8-61b7-479a-b2fb-efb7a81d4db2"
        unzip -q play-.zip -d $GITHUB_WORKSPACE
        ls -R $GITHUB_WORKSPACE

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Android SDK + NDK + CMake
      uses: android-actions/setup-android@v3
      with:
        api-level: 30
        ndk-version: 25.2.9519653
        cmake-version: 3.22.1

    - name: Build Play! for Android GLES3
      run: |
        cd $GITHUB_WORKSPACE/play-   # المسار الصحيح بعد فك الضغط
        mkdir -p build
        cd build
        cmake .. \
          -DCMAKE_BUILD_TYPE=Release \
          -DTARGET_PLATFORM_ANDROID=ON \
          -DUSE_GLEW=OFF \
          -DBUILD_PLAY=ON
        make -j$(nproc)

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Play-Android-GLES3
        path: $GITHUB_WORKSPACE/play-/build/*
