name: Build Play! Android

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  android_build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Download Project from Google Drive
      run: |
        mkdir -p PlayTemp
        wget "https://drive.usercontent.google.com/download?id=1bddLbRJKmc89w6ep4tQYTwvMQv6yv470&export=download&confirm=t&uuid=bb209c87-8d33-43df-821c-6c6f781fb2c8" -O PlayTemp/Play.zip
        unzip PlayTemp/Play.zip -d PlayTemp
        cd PlayTemp/Play-

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Android SDK + NDK
      uses: android-actions/setup-android@v3
      with:
        api-level: 30
        ndk-version: 25.2.9519653
        cmake-version: 3.22.1

    - name: Build Play! Emulator for Android
      run: |
        cd PlayTemp/Play-
        mkdir -p build
        cd build
        cmake .. \
          -DCMAKE_BUILD_TYPE=Release \
          -DTARGET_PLATFORM_ANDROID=ON \
          -DUSE_GLEW=OFF \
          -DBUILD_PLAY=ON
        make -j$(nproc)

    - name: Upload Build Output
      uses: actions/upload-artifact@v4
      with:
        name: Play-Android-Build
        path: PlayTemp/Play-/build/*
